header {
	text-align: center;
	padding-bottom: 3%;
}

.headerContainer {
	/*top, right bottom, left*/
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

.container {
	margin: auto;
	width: 90%;
}

body {
	font: sans-serif;
	line-height: 1.2em;
}

.boxOne  {
	background-color: #E4E5E6;
	color: #2A2C2C;
	padding: 10px 10px 30px 10px;

}


h1 {
	color: #E6A029;
	/*background-color: #1F1F1F; */
	font: bold 48px sans-serif;
	line-height: 1em;
	margin-bottom: 1%;
}

h2 {
	display: block;
	margin-bottom: 3%;
	font-size: 32px;
}

h3 {
	margin-bottom: 3%;
	font-size: 24px;
}


img{
	display: block; /*make an img center*/
	width: 90%;
	margin: 4% auto 4% auto;
	
}

strong-big {
	font-size: 18px;
}

a {
	color: #46C8D6;
}

ul.fancy{
	display: block;
	padding-left: 3%;	
	list-style: none;
}

ul.fancy li{
	border-bottom: .5px dashed #ccacb4;
	padding: 1.5% 0% 2.5% 0%;
}

blockquote {
	border-left: #fa8072 solid 5px;
	background-color: #fef2f0;
	color: #64332d;
	font-style: italic;
	width: 80%;
	padding: 2%;
}

code {
	background-color: #eee;
	font-family: "Courier New";
	padding:.5%;
}

code.block{
	display: block;
	padding: 2%;
	margin: 3%;
	width: 70%;
}

div.categories{
	border: 1px orange dashed;
	width: 90%;
	padding: 3%;
	border-radius: 5%;
	margin: auto;
}

div.categories h3{
	text-align: center;
}

div.categories ul{
	list-style:square;
	padding: 3%;
}

crimson{
	color: crimson;
}

teal{
	color: teal;
}